.accountContainer {
    height: 40rem;
}

.textWrapping {
    overflow: hidden;
    word-wrap: break-word;
}

.sitesContainer {
    scroll-snap-type: y mandatory !important;
    overflow-y: auto;
}

.chatsContainer {
    scroll-snap-type: x mandatory !important;
    overflow-x: auto;
    word-wrap: break-word;
}

.chatTab {
    min-height: 5rem;
}